<!doctype html>
<html>
<head>
    <title>World Capitals</title>
</head>
<body>
    <div class="container">
    <header><h1>World Capitals</h1></header>
    {{{body}}}
    <footer>&copy; {{copyrightYear}} Ayumi Kojima</footer>
    </div>
</body>
</html>