<h1>Home</h1>
<a href="about">Go to about page</a>


<form action="details" method="POST">
<!--<input type="text" name="capital" placeholder="Enter capital" required maxlength="100">-->
    <button name="capital" type="submit" value="washington, D.C.">Washington, D.C.</button>
    <button name="capital" type="submit" value="tokyo">Tokyo</button>
    <button name="capital" type="submit" value="rabat">Rabat</button>
    <button name="capital" type="submit" value="paris">Paris</button>
    <button name="capital" type="submit" value="hanoi">Hanoi</button>
</form>


<form action="details" method="POST">
<input type="text" name="capital" placeholder="Enter capital" required maxlength="100">
    <button>Search</button>
</form>

<form action="add" method="POST">
<input type="text" name="capital" placeholder="Enter capital" required maxlength="100">
    <button >Add</button>
</form>