<h2>Home</h2>


<form action="details" method="POST">
<p>Click on a button that you want to see the details of:</br></p>
    <button name="capital" type="submit" value="washington, D.C.">Washington, D.C.</button>
    <button name="capital" type="submit" value="tokyo">Tokyo</button>
    <button name="capital" type="submit" value="rabat">Rabat</button>
    <button name="capital" type="submit" value="paris">Paris</button>
    <button name="capital" type="submit" value="hanoi">Hanoi</button>
</form>


<form action="details" method="POST">
    <p>Or, your can search by typing a name of a capital(all lowercase):</p>
<input type="text" name="capital" placeholder="Enter capital" required maxlength="100">
    <button>Search</button>
</form>
